.particles-container {
  position: relative;
  width: 100%;
  height: 100%;
}

#global-particles canvas {
  position: absolute;
  inset: 0;
  width: 100% !important;
  height: 100% !important;
  pointer-events: none;
}
